@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Raleway', sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, #dbd2ef 0, #efeaf9 100%);
    background-image: radial-gradient(50% 50% at 50% 50%, #dbd2ef 0px, #efeaf9 100%);
}

.gradient {
    background: radial-gradient(50% 50% at 50% 50%, #dbd2ef 0, #efeaf9 100%);
    background-image: radial-gradient(50% 50% at 50% 50%, #dbd2ef 0px, #efeaf9 100%);
}